MOTORICAL_SMTP_HOST=smtp.motorical.com
MOTORICAL_SMTP_PORT=587
MOTORICAL_SMTP_USER=your_smtp_motor_block_username
MOTORICAL_SMTP_PASSWORD=your_smtp_motor_block_password
MOTORICAL_SMTP_FROM=sender@yourdomain.com
MOTORICAL_SMTP_TO=recipient@example.com
